.web-editor-edit{
    width:100%;
    display: flex;
    flex-flow: column;
    .web-editor-edit-view{
        .web-editor-view-tabs{
            overflow: hidden !important;
        }
    }
    .web-editor-inactive{
        align-items: stretch;
        display: flex;
        flex: 1 1 auto;
        overflow: auto;
        flex-flow: column nowrap;
        padding: 10px;
    }
    .web-editor-edit-footer::part(edit-footer){
        justify-content: flex-end;
        padding-right:0px;
        
    }
    .web-editor-edit-footer{
        calcite-button{
            margin-left:5px;
        }
    }
}