.web-editor-draw{
    width:100%;
    display: flex;
    flex-flow: column;
    .web-editor-draw-template{
        flex:1;
        min-height:50px;
        .esri-item-list__scroller{
            max-height: 300px !important;
        }
    }
    .web-editor-draw-actionpad{
        height:30px;
        margin-top:5px;
        border:1px solid red;
    }
    .esri-item-list__list-item--selected{
        &.un-selected{
            border:none!important;
            outline: none !important;
        }
    }
}